body, html
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

canvas
{
    width: 100%;
    height: 100%;
}    

.modal {
    display: none; /* On le cache par défaut */
    position: fixed; /* Sa position sera fixe */
    z-index: 1; /* Et en première position */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); /* La couleur d'arrière-plan... */
    background-color: rgba(0,0,0,0.4); /* ...avec de la transparence si supporté par le navigateur */
    -webkit-animation-name: fadeIn; /* Et on lance l'animation (voir ci-dessous) */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    top: 30%;
    left: 30%;
    background-color: white;
    width: 40%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    font-family: "Arial";
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: coral;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: coral;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {margin-top: 2000px; opacity: 0} 
    to {margin-top: 0px; opacity: 1}
}

@keyframes slideIn {
    from {margin-top: 2000px; opacity: 0}
    to {margin-top: 0px; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

/* Modal bis*/
.modalgui {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
#modalgui-content {
    position: fixed;
    bottom: -300px;
    width: 100%;
    background: black;
}

.modalgui-body {
	padding: 2px 2px;
	text-align: center;
    color: white;
    font-family: 'Arial'; 
}

/* Add Animation */
@-webkit-keyframes slideInInteraction {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideInInteraction {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

.start-button {
    position: absolute;
    top: 45vh;
    left: 45vw;
}

#start-button {
    background-color: white;
    border: none;
    color: black;
    font-size: 30px;
    padding: 10px 15px;
}

#start-button:hover {
    cursor: pointer;
}